<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>AirBnB Clone</title>

	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}?{{ cache_id }}" />
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/8-places.css') }}?{{ cache_id }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}?{{ cache_id }}" />
</head>

<body>
	<header></header>
	<div class="container">
		<section class="filters">
			<div class="locations">
				<h3>States</h3>
				<h4>&nbsp;</h4>
				<UL class="popover">
					{% for state in states %}
					<LI>
						<H2>{{ state.name }}</H2>
						{% if state.cities %}
						<UL>
							{% for city in state.cities %}
							<LI>{{ city.name }}</LI>
							{% endfor %}
						</UL>
						{% endif %}
					</LI>
					{% endfor %}
				</UL>
			</div>
			<div class="amenities">
				<h3>Amenities</h3>
				<h4>&nbsp;</h4>
				<UL class="popover">
					{% for amenity in amenities %}
					<LI>{{ amenity.name }}</LI>
					{% endfor %}
				</UL>
			</div>
			<button>Search</button>
		</section>
		<section class="places">
			<h1>Places</h1>
			{% for place in places %}
			<article>
				<h2>{{ place.name }}</h2>
				<div class="price_by_night">${{ place.price_by_night }}</div>
				<div class="information">
					<div class="max_guest">{{ place.max_guest }} Guest{% if place.max_guest > 1 %}s{% endif %}</div>
					<div class="number_rooms">{{ place.number_rooms }} Bedroom{% if place.number_rooms > 1 %}s{% endif %}</div>
					<div class="number_bathrooms">{{ place.number_bathrooms }} Bathroom{% if place.number_bathrooms > 1 %}s{% endif %}</div>
				</div>
				<div class="user">
					<strong>Owner:</strong>&nbsp;
					{{ place.user.first_name }} {{ place.user.last_name }}
				</div>
				<div class="description">
					{{ place.description|safe }}
				</div>
			</article>
			{% endfor %}
		</section>
	</div>
	<footer>
		<p>Holberton School</p>
	</footer>
</body>

</html>
