footer {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
